<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.4">
  <context-param>
    <param-name>contexto</param-name>
    <param-value>wmsre</param-value>
  </context-param>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>i18n</param-value>
  </context-param>
  <listener>
    <listener-class>br.com.linkcom.neo.core.web.init.ContextLoaderListener</listener-class>
  </listener>
  <filter>
    <filter-name>neoFilter</filter-name>
    <filter-class>br.com.linkcom.neo.core.web.NeoFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>neoFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AMFMessageFilter</filter-name>
    <filter-class>org.granite.messaging.webapp.AMFMessageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AMFMessageFilter</filter-name>
    <url-pattern>/graniteamf/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>AMFMessageServlet</servlet-name>
    <servlet-class>org.granite.messaging.webapp.AMFMessageServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AMFMessageServlet</servlet-name>
    <url-pattern>/graniteamf/*</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>wmsFilter</filter-name>
    <filter-class>br.com.linkcom.wms.geral.filter.WmsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>wmsFilter</filter-name>
    <url-pattern>/adm/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>wmsFilter</filter-name>
    <url-pattern>/produto/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>wmsFilter</filter-name>
    <url-pattern>/recebimento/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>wmsFilter</filter-name>
    <url-pattern>/expedicao/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>adm</servlet-name>
    <servlet-class>br.com.linkcom.neo.controller.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>adm</servlet-name>
    <url-pattern>/adm/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>produto</servlet-name>
    <servlet-class>br.com.linkcom.neo.controller.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>produto</servlet-name>
    <url-pattern>/produto/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>recebimento</servlet-name>
    <servlet-class>br.com.linkcom.neo.controller.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>recebimento</servlet-name>
    <url-pattern>/recebimento/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>expedicao</servlet-name>
    <servlet-class>br.com.linkcom.neo.controller.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>expedicao</servlet-name>
    <url-pattern>/expedicao/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>resourceServlet</servlet-name>
    <servlet-class>br.com.linkcom.neo.view.ResourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>resourceServlet</servlet-name>
    <url-pattern>/resource/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>download</servlet-name>
    <servlet-class>br.com.linkcom.wms.util.neo.DownloadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>download</servlet-name>
    <url-pattern>/DOWNLOADFILE/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>arquivofoto</servlet-name>
    <servlet-class>br.com.linkcom.wms.controller.ArquivoFotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>arquivofoto</servlet-name>
    <url-pattern>/ARQUIVOFOTO/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ajaxServlet</servlet-name>
    <servlet-class>br.com.linkcom.neo.view.AjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajaxServlet</servlet-name>
    <url-pattern>/ajax/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelecionarCadastrarServlet</servlet-name>
    <servlet-class>br.com.linkcom.neo.view.SelecionarCadastrarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelecionarCadastrarServlet</servlet-name>
    <url-pattern>/SELECIONARCADASTRAR/*</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>40</session-timeout>
  </session-config>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/jsp/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/jsp/errocode.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/jsp/errocode.jsp</location>
  </error-page>
</web-app>