/* Landscape phone to portrait tablet */
@media ( max-width : 767px) {
	body, h3, .navbar-brand{
        font-size:25px;
    }
    .input-lg, .btn-lg, .form-control{
    	height: 60px;
    	font-size:25px;
    }
   	#footer {
	    text-align: center;
	}
	.dropdown-menu{
		font-size:25px !important;
	}
	html, body {
		background-color: #F2F5A9;
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center;
	}
	html {
	    position: relative;
	    min-height: 100%;
	}
	body {
	    margin: 0 0 20% !important; /* bottom = footer height */
	}
	footer {
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    height: 70px; 
	    width: 100%;
	}
	
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    body, h3, .navbar-brand{
        font-size:30px;
    }
     .input-lg, .btn-lg, .form-control{
    	height: 70px;
    	font-size:30px;
    }
    .dropdown-menu{
		font-size:30px !important;
	}
	html, body {
		background-color: #F2F5A9;
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center;	
	}
	html {
	    position: relative;
	    min-height: 100%;
	}
	body {
	    margin: 0 0 20% !important; /* bottom = footer height */
	}
	footer {
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    height: 80px; 
	    width: 100%;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
    body, h3, .navbar-brand{
        font-size:50px;
    }
     .input-lg, .btn-lg, .form-control{
    	height: 80px;
    	font-size:50px;
    }
    .dropdown-menu{
		font-size:50px !important;
	}
	html, body {
		background-color: #F2F5A9;
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center;
	}
	html {
	    position: relative;
	    min-height: 100%;
	}
	body {
	    margin: 0 0 120% !important; /* bottom = footer height */
	}
	footer {
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    height: 400px; 
	    width: 100%;
	}
	
}

html, body {
	background-color: #F2F5A9;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 20px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.panel-primary>.panel-heading {
	color:#f91700;
	background-color:rgba(243,247,129, 0.5);
	border-color:#027710;
}

.panel{
	background-color:rgba(243,247,129, 0.5);
}

.form-control:focus{
	border-color: #027710;
}


.h3, h3 {
    font-size: 24px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #f91700;
}
.panel-primary {
	border-color: #027710;
}

.titulo-pagina{
    border-bottom: 1px solid green;
    font-weight: bold;
    font-family: sans-serif;
}

.corpo-pagina {
    border: 1px solid green;
    background-color:rgba(243,247,129, 0.5);/* #dfeae3 */;
    border-radius: 20px;
}

label{
 color: #f91700;
}

.dataGridHeader {
	background-color: #4cb49c;
	color: #FFFFFF;
	font-family: Verdana;
	font-weight: bold;	
}

.dataGridHeader > th{
	text-align: center !important;
}

.glyphicon-glyphicon-ok-sign:before{ 
  font-family: 'Glyphicons Halflings'; 
  content:"\e084";
}

.glyphicon-glyphicon-exclamation-sign:before { 
  font-family: 'Glyphicons Halflings'; 
  content:"\e101"; 
}

.glyphicon-glyphicon-remove-sign:before { 
  font-family: 'Glyphicons Halflings'; 
  content:"\e083";
}

.tooltip  {
	font-size: 14px;
	width: 130px;
}

/*readOnly não funciona muito bem com select, por isso adicionei esse css desabilitando estes itens  */
select[readonly] {
  pointer-events: none;
  touch-action: none;
}

.table {
	color: #545454;
}

tr.dataGridBody2{
	background-color: #b6f1a7;
}

tr.dataGridBody1{
	background-color: #8bbf8a !important;
}

.glyphicon-modal-window:before{
	font-family: 'Glyphicons Halflings'; 
	content:"\e237";
}

.glyphicon-remove-circle:before{
	font-family: 'Glyphicons Halflings'; 
	content:"\e088";
}


fieldset{
	border: 1px solid #ddd !important;
	margin: 0;
	xmin-width: 0;
	padding: 5px;       
	position: relative;
	border-radius:4px;
	background-color:#f5f5f5;
	padding-left:10px!important;
}	
	
legend{
	font-size:14px;
	font-weight:bold;
	margin-bottom: 0px; 
	width: 35%; 
	border: 1px solid #ddd;
	border-radius: 4px; 
	padding: 5px 5px 5px 10px; 
	background-color: #ffffff;
}

#fc{
	width: 15%;
}

.glyphicon-ok:before{
	font-family: 'Glyphicons Halflings'; 
	content:"\e013";
}

.glyphicon-remove:before{
	font-family: 'Glyphicons Halflings'; 
	content:"\e014";
}

.glyphicon-remove:before{
	font-family: 'Glyphicons Halflings'; 
	content:"\e014";
}
.glyphicon-alert:before{
	font-family: 'Glyphicons Halflings'; 
	content:"\e209";
}

/*erro*/
.dialog {
	width: 500px;
	border: 10px solid #ccc;
	padding: 15px 20px 10px 20px;
	text-align: left;
	background: #fff;
}

#scroll {
  width: 100%;
  height:300px;
  background-color:#F2F2F2;
  overflow:auto;
  border: 1px solid black;
  font-weight: bold;
}

.flash_alert {
	color: #000;
	height: 40px;
	vertical-align: middle;
	font-size:12px;
	margin-bottom:12px;
	padding:5px 20px 5px 30px;
	text-align:center;
	padding-top:25px;
	background: url(../../imagens/default/img_login/alerta.gif) left no-repeat;
}
